body{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
}

button{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

