body{
    background-color:darkslateblue;
    color: aliceblue;
    /* background-image: url(../Assets/Hidroponia.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */

    display: flex;
    text-align: center;
    justify-content: center;
}